.loading-user {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 50vh !important;
}

.box-user {
  height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 5.5rem !important;
}

.list-user-info {
  height: calc(100vh - 8.8rem) !important;
}

.top-options {
  border-bottom: 2px solid #006d77 !important;
  background-color: #f5f5ef !important;
  display: flex !important;
  justify-content: space-around !important;
  padding: 1rem !important;
}

.bottom-options {
  border-top: 2px solid #006d77 !important;
  display: flex !important;
  justify-content: space-around !important;
  padding: 1rem !important;
  background-color: #f5f5ef !important;
}

@media screen and (min-width: 1000px) {
  .list-user-info {
    border-left: 2px solid #006d77 !important;
    border-right: 2px solid #006d77 !important;
    width: 50% !important;
    margin-left: 25% !important;
    margin-right: 25% !important;
  }
}
