.img-card {
  border: 1px solid #006d77 !important;
  position: static !important;
  display: flex !important;
  align-items: center !important;
  gap: 5px !important;
}

@media screen and (max-width: 450px) {
  .img-container {
    display: 100% !important;
    height: 20rem !important;
  }

  .img-card-partnrs {
    height: 5rem !important;
    width: 90% !important;
  }

  .img-card {
    width: 100% !important;
  }
}

@media screen and (min-width: 380px) {
  .img-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    height: 40rem !important;
  }

  .img-card-partnrs {
    width: 70% !important;
    height: 50rem !important;
  }
}
