.img-logo {
  border: 1px solid #006d77 !important;
}

.home-title {
  text-transform: uppercase !important;
  margin: 1rem !important;
}

.container-page {
  margin-bottom: 2rem !important;
}

.section-home {
  border-bottom: 1px solid #006d77 !important;
  margin-bottom: 3rem !important;
  width: 100% !important;
}

@media screen and (max-width: 450px) {
  .img-logo {
    height: 100% !important;
  }
}

@media screen and (min-width: 450px) {
  .container-home {
    height: 100vh !important;
    display: flex !important;
    width: 100% !important;
    margin: none !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  .card-home {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 5rem !important;
  }

  .img-logo {
    border: 1px solid #006d77 !important;
    width: 80% !important;
    height: 60% !important;
  }
}

@media screen and (min-width: 1000px) {
  .img-logo {
    width: 50% !important;
    height: 50% !important;
  }
}