.list-plans {
  border: 1px solid  #006d77 !important;
  position: static !important;
}

.plans {
  position: static !important;
}

.container-plans {
  border-top: 1px solid #006d77 !important;
  margin-top: 1rem !important;
}